*{
  background-color: black;
  padding: 0;
  color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
html,
body{
  height: 100vh;
  width: 100%;
}
input{
  margin: 10px;
  padding: 10px 20px;
}