*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", serif;
}
html,body{
  height: 100%;
  width: 100%;
  background: #1a1a1a;
}

.nav2
{
  display: flex;
  gap: 30px;
}
.dark
{
  display: flex;
  background: darkseagreen;
  justify-content: space-between;
  padding: 20px 40px;
}
.light
{
  display: flex;
  background: lightseagreen;
  justify-content: space-between;
  padding: 20px 40px;
}